@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

head, body {
    background-color: black;
    color: beige;
    font-family: 'Source Code Pro', monospace;
}

i {
    padding-left: 2%;
    padding-right: 2%;
    color: beige;
    font-size: 3em;
}

a {
    text-decoration: none;
}

textarea, input {
    background-color: beige !important;
    color: black !important;
}

@media only screen and (max-width: 600px) {
    #intro {
        margin-left: 0.25vw;
        margin-right: 15vw;
    }
}