html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  text-align: center;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

/* make sizing predictable and prevent padding from increasing element size */
* { box-sizing: border-box; }

body {
  padding: 0 30px;
  background-color: rgb(0, 0, 0);
  color: #afafaf;
  animation: fadein ease 3s;
  -moz-animation: fadein ease 3s;
  -webkit-animation: fadein ease 3s;
  -o-animation: fadein ease 3s;
  overflow-x: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
