html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  text-align: center;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

/* make sizing predictable and prevent padding from increasing element size */
* { box-sizing: border-box; }

body {
  padding: 0 30px;
  background-color: rgb(35, 35, 35);
  color: #afafaf;
  animation: fadein ease 3s;
  -moz-animation: fadein ease 3s;
  -webkit-animation: fadein ease 3s;
  -o-animation: fadein ease 3s;
  overflow-x: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.audio-dark .rhap_container {
  background-color: rgb(19, 19, 19);
  color: #afafaf;
  box-shadow: none;
  border-radius: 8px;
}

.audio-dark .rhap_progress-bar {
  background: #474747;
}

.audio-dark .rhap_progress-filled {
  background: #005596;
}

.audio-dark .rhap_controls-section button {
  color: #eee;
}

.audio-dark .rhap_controls-section button:hover {
  color: #005596;
}

.audio-dark .rhap_time {
  color: #eee;
}
